body {
    color: #4d4d4d;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

.wrapper {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

h1 {

    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 90px;
}

h1 .lg {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    display: block;
    letter-spacing: -3px;
}

h1 .sm {
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
}

h6 {
    color: #0d0d0d;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.hr {
    height: 3px;
    margin: 120px 0;
    background-color: #e6e6e6;
}








/*buttons*/

.btn {
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    padding: 11px 35px 0;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    color: #ffffff;
    background-color: #f39c12;
    text-decoration: none;
    border-color: #f39c12;
}



header {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    width: 153px;
    height: 153px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    display: flex;
}

.menu_item {
    margin-left: 90px;
    position: relative;
}

.menu_item:after {
    content: '\\\\';
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    left: 100%;
    margin-left: 40px;
    top: 0;
}

.menu_item:last-child:after {
    display: none;
}

.menu_link {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.menu_link:hover {
    color: #0d0d0d;
}








/*Banner*/

.banner {
    height: 1100px;
    background: url("../img/banner.png") no-repeat center top;
    padding-top: 450px;
    padding-bottom: 280px;
    text-align: center;
}


.heading {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto 150px;
}

.heading h2 {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    position: relative;
    margin-right: 40px;
}

.heading h2:after {
    content: '';
    display: block;
    width: 4px;
    height: 45px;
    background-color: #f39c12;
    position: absolute;
    left: 100%;
    margin-left: 19px;
    top: 50%;
    margin-top: -22px;
}

.heading p {
    flex: 1;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.about-wrap {
    display: flex;
    align-items: flex-start;
}

.about-wrap-content {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.about-wrap-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    width: 128px;
    height: 128px;
    margin-right: 29px;
    border: 2px solid #f39c12;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 40px;
}

.about-wrap-content-text h6 {
    margin-bottom: 20px;
}

.about-wrap-content-text p {
    color: #737373;
    font-size: 16px;
    font-weight: 400px;
    line-height: 28px;
}

.about-wrap-content-text .about-text {
    color: #e74c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 25px;
}

.about-wrap-img {
    position: relative;
    margin-left: 60px;
}

.about-wrap-img__icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}








/*box skills*/

.box-skills {
    display: flex;
}

.box-skills_item {
    flex: 1;
    width: 50%;
}

.box-skills_item--img img {
    display: inline-block;
    max-width: 100%;
}

.box-skills_item--img {
    padding-right: 50px;
    text-align: right;
}

.box-skills_item--content {
    padding-left: 35px;
}







/*bars*/

.bars-line {
    height: 10px;
    background: #e7e7e7;
}

.box-bars {
    margin-top: 55px;
}

.bars {
    margin-bottom: 35px;
}

.bars_title {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bars_title span {
    color: #bfbfbf;
    font-weight: 600;
}

.bars_title .procent {
    color: #0d0d0d;
    font-weight: 300;
}

.bars-line>div {
    height: 10px;
    background: #f49d09;
}

.section {
    padding: 105px 0 100px;
}

.section-bg {
    height: 700px;
    background: url("../img/quote.png") no-repeat center top;
    background-size: cover;
    align-items: center;
    display: flex;
}







/*quotes*/

.quote {
    text-align: center;
    color: #ffffff;
}

.box-quote {
    padding: 250px 0;
    background: url("../img/quote.png") no-repeat center top;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.quote_text {
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    padding: 0 70px;
    margin-bottom: 30px;
}

.quote_text:after,
.quote_text:before {
    content: '"';
    display: block;
    color: #ffffff;
    font-size: 110px;
    font-weight: 700;
    line-height: 60px;
    font-style: italic;
    position: absolute;
    top: 0;
}

.quote_text:before {
    left: 0;
}

.quote_text:after {
    right: 0;
}

.quote_author {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.quote_author:before {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #f39c12;
    margin: 0 auto 20px;
}









/*team*/

.team-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-list_item {
    width: 269px;
    padding: 25px 15px 30px;
    border-top: 4px solid transparent;
    text-align: center;
}

.team-list_item:hover {
    background-color: #f0f0f0;
    border-color: #f39c12;
}

.team-list_item:hover .team-list_job:after {
    background-color: #e74c3c;
}

.team-list_img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 62px;
    background-color: #e8f8f4;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid #f2f2f2;
    margin: 0 auto 25px;
}

.team-list_img:after {
    content: "";
    display: block;
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

.team-list_img img {
    height: 100%;
    width: 100% border-radius: 50%;
    display: block;
}

.team-list_job {
    color: #999999;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.team-list_job:after {
    content: '';
    display: block;
    margin: 10px auto 15px;
    width: 23px;
    height: 7px;
    background-color: #cccccc;
}

.team-list_item p {
    color: #737373;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 25px;
}

.social_link {
    color: #999999;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
}

.social_link:last-child {
    margin-right: 0;
}

.social_link:hover {
    color: #f39c12;
}

.facts-list {
    display: flex;
    justify-content: space-between;
}

.facts-list_item:hover .facts-list_icon {
    border-color: #ffffff;
}

.facts-list_item:hover .facts-list_icon [class*="icon"]:before {
    color: #f39c12;
}

.facts-list_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 30px;
    width: 173px;
    height: 173px;
    border: 2px solid #f39c12;
    color: #f39c12;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s;
}



.facts-list_icon [class*="icon"]:before {
    color: #ffffff;
    transition: all 0.3s;
}

.facts-list h5 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 29px;
}

.facts-list h5 span {
    font-size: 45px;
    display: block;
    line-height: 45px;
}









/*service*/

.service-list {
    display: flex;
    text-align: center;
    margin: 0 -15px;
}

.service-list_item {
    padding: 0 15px;
}

.service-list_item:hover .service-list_icon {
    background: #f39c12;
}

.service-list_item:hover .service-list_icon [class*="icon"]:before {
    color: #ffffff;
    transition: all 0.3s;
}

.service-list h6 {
    margin-bottom: 25px;
}

.service-list p {
    color: #737373;
    font-size: 16px;
    line-height: 28px;
}

.service-list_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    margin: 0 auto 30px;
    width: 105px;
    height: 105px;
    border: 2px solid #f39c12;
    color: #f39c12;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s;
}

.service-list_icon [class*="icon"]:before {
    color: #0d0d0d;
    transition: all 0.3s;
}